<nav class="nav">
  <div class="ribbon">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="nav-container">
    <a href="{{ site.baseurl }}/"><img src="/assets/263035_B9OPWmhQ.png" /></a>
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      <li><a href="{{ site.baseurl }}/">Posts</a></li>
      <li><a href="{{ '/tags' | prepend: site.baseurl }}">Tags</a></li>
      <li><a href="{{ '/cyberpunk_red' | prepend: site.baseurl }}">Cyberpunk RED</a></li>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
    </ul>
  </div>
</nav>

<style>
  .nav {
    background: #80B1B7;
    overflow: visible;
    box-shadow: 0 32px 0 0 white, inset 0 -2px 3px -1px rgb(0 0 0 / 20%);
    z-index: 2;
    position: relative;
  }

  .nav-container {
    margin: 0 auto 3rem auto;
    padding-bottom: 1rem;
  }

  .nav img {
    display: inline-block;
    border-radius: 50%;
    border: 10px solid white;
    width: 150px;
    height: 150px;
    position: relative;
    margin: 1rem;
    margin-bottom: -100px;
    box-shadow: 0px -2px 3px -1px rgb(0 0 0 / 20%)
  }

  .nav-title {
    color: white !important;
  }

  .nav a {
    color: white !important;
  }

  .nav li {
    padding-bottom: 1rem;
    font-weight: bold;
    color: white !important;
  }

  .nav .ribbon {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 100px;
    width: 100%;
    height: 22px;
    z-index: 0;
    border-bottom: 1px dashed #80B1B7;
  }
  .ribbon > span {
    display: inline-block;
    height: 10px;
    width: 100%;
    margin: 0 1rem;
    background-color: #80B1B7;
    z-index: 1;
    box-shadow: inset 0 -2px 3px -1px rgb(0 0 0 / 20%);
  }
</style>